.serverCard {
  position: relative;
  background: var(--background-card);
  border-radius: 8px;
  box-shadow: 0 4px 8px #e4e1e1;
  margin: 0 0 0.75rem 0.75rem;

  &:before {
    position: absolute;
    content: '';
    right: 10px;
    top: 10px;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background: #f92d09;
    box-shadow: 0 0 4px #c94714;
    transition: all 0.3s ease;
  }

  &--on {
    &:before {
      background: #0aff3f;
      box-shadow: 0 0 4px #6a8e6a;
    }
  }

  &__content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.75rem;
  }
}
