.logoLink {
  display: flex;
  align-items: center;

  &__image {
    width: 25px;
    height: 25px;
  }

  &__text {
    font-weight: 700;
    font-size: 24px;
    color: blue;
    vertical-align: baseline;
  }
}
