.link {
  cursor: pointer;
  height: 42px;
  line-height: 42px;
  padding-left: 0.75rem;
  font-size: 14px;

  &:hover {
    border-radius: 3px;
    background-color: rgba(255, 255, 255, 0.2);
  }

  &__icon {
    margin-right: 10px;
  }
}
